/* General HTML section styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto";
}
p,
a {
    font-family: "Times New Roman";
}
hr {
    background-color: ghostwhite;
}
body {
    color:#000!important;
    background-color:#f1f1f1!important;
}
/* header, footer {
    margin-left:150px;margin-right:150px;
  } */

/* Document specific section styles */
    /* Top of page section */
    .top_page {
        /* content:"";
        display:table;
        clear:both; */
        padding:0.01em 16px;
    }
    .top_page p {
        font-size:25px;
    }
    .top_page h1 {
        font-weight:bold;
        font-family:"Fabrikat Kompakt Bold";
    }

    /* State info section */
    .state_info {
       text-align:center;
    }
    .state_info h1{
       font-weight:bold;
    }
    .state_info img {
        width:300px;
        height:300px;
    }
    .state_info h2 {
        text-decoration:underline;
    }

    /* City section section */
    .city_section {
        /* content:"";
        display:table;
        clear:both; */
        text-align:center;
        /* margin-left:300px;
        margin-right:300px; */
    }  
    .city_section h1 {
        border-style:solid
    }
    .city_section h2 {
        text-decoration:underline;
    }

    /* Bottom of page section */
    footer {
        /* content:"";
        display:table;
        clear:both; */
        padding:0.01em 16px;
        padding-top:32px!important;
        padding-bottom:32px!important;
        color:#fff!important;
        background-color:#616161!important;
        text-align:center;
    }
    .footer_box {
        padding:0 8px;
    }