body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

body {
    /* color: #000 !important; */
    color: #FFFDD0;
    /* background-color: #f1f1f1 !important; */
    background-image: url('../Coffee\ Beans.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

/* Header section */
header {
    margin-bottom: 8px;
}

header h1 {
    padding: 0.01em 16px;
    font-weight: bold;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    background-color: #6F4E37;
    padding: 0px!important;
    margin: 0px!important;
    text-align: center;
    overflow: hidden;
}

.navbar ul li {
    display: inline-block;
}

.navbar a {
    color: #FFFDD0;
    text-decoration: none;
    padding: 15px; 
    display: block;
}

.navbar a:hover {
    background-color: black;
}

/* Grid styling */
.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    order: 1;
}

.box {
    float: left;
    width: 600px;
}

.box img {
    width: 600px;
    height: 500px;
    object-fit: fill;
}

/* Figure out how to make hover work */
.box a::hover {
    background-color: black;
}

.box_description {
    padding: 0.01em 16px;
    color: #000 !important;
    background-color: #FFFDD0 !important;
    border-top: 5px solid black;
}

/* Main section */
main h1 {
    text-align: center;
    font-weight: bold;
}

.sheet {
    margin: 0 20px 8px 20px;
    text-align: center;
    color: #000 !important;
    background-color: #FFFDD0 !important;
    border: 5px solid black;
}

main .box {
    margin: 0px 4px 16px 4px !important;
}

main .box {
    border: 5px solid black;
}

/* Footer section */
footer {
    padding: 0.01em 16px;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    margin: 0 8px 8px 8px;
    /* color: #fff !important; */
    background-color: #6F4E37 !important;
    text-align: center;
    font-family: 'Times New Roman';
}

footer h3 {
    font-family: 'Roboto';
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    font-size: 18px !important;
}

footer a:last-child {
    border-bottom: none
}

footer li:hover {
    background-color: #ccc;
}

.bottom_page {
    padding: 0 8px;
}

footer .grid {
    padding: 0 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    order: 1;
}

footer .box {
    float: left;
    width: 600px;
    padding: 0 8px;
    margin-bottom: 16px !important;
}